<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dhc.nssol.db.mapper.queryMapper.LoginActionMapper">

	<resultMap type="cn.com.dhc.nssol.db.model.UserAuthorityInfo" id="userMap">
	    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
	    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
	    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
	    <result column="NAME" jdbcType="VARCHAR" property="name" />
	    <result column="CANCEL_FLG" jdbcType="CHAR" property="cancelFlg" />
	    <result column="START_DAY" jdbcType="CHAR" property="startDay" />
	    <result column="END_DAY" jdbcType="CHAR" property="endDay" />
	    <result column="END_DAY" jdbcType="CHAR" property="endDay" />
	    <result column="DEL_FLG" jdbcType="CHAR" property="delFlg" />
	    <collection property="roleCodeList" ofType="java.lang.String">
	    	<id column="TR_ROLE_CODE" jdbcType="VARCHAR"/>
	    </collection>
	</resultMap>
	
	<select id="selectUserByUserId" parameterType="java.lang.String" resultMap="userMap">
		SELECT
		TU.USER_ID AS USER_ID
		,TU.USER_CODE AS USER_CODE
		,TU.PASSWORD AS PASSWORD
		,TU.NAME AS NAME
		,TU.DEL_FLG AS DEL_FLG
		,TU.CANCEL_FLG AS CANCEL_FLG
		,TU.START_DAY AS START_DAY
		,TU.END_DAY AS END_DAY
		,TU.LOCKED_FLG AS LOCKED_FLG
		,TR.ROLE_CODE AS TR_ROLE_CODE
		FROM
		T_USER TU
		LEFT OUTER JOIN T_USER_ROLE TUR
		ON TU.USER_ID = TUR.USER_ID
		LEFT OUTER JOIN T_ROLE TR
		ON TUR.ROLE_ID = TR.ROLE_ID
		WHERE
		TU.USER_CODE = #{userCode,jdbcType=VARCHAR}
	</select>
</mapper> 